<app-header-customer></app-header-customer>
<div class="banner" [ngStyle]="{'background-image': 'url('+store.banner+')'}">
  <img src="{{store.logo}}">
</div>

<main role="main">
  <div class="container" style="margin-bottom: 80px;">

    <div class="card mb-2" *ngFor="let item of products" routerLink="/delivery" [queryParams]="{product: item.id}">
      <div class="card-body row">
        <div class="image col-3">
          <img src="{{item.image}}">
        </div>
        <div class="content col-9">
          <span class="font-weight-bold">{{item.name}}</span><br>
          <small class="font-italic">{{item.description}}</small>
          <br>
          <small class="font-weight-light">Precio: s/.{{item.price | number:'1.2'}}</small>
        </div>
      </div>
    </div>

  </div>
</main>
<app-footer-customer></app-footer-customer>

