<app-header-admin></app-header-admin>
<main role="main" class="container mb-2">
  <button type="button" class="btn btn-primary mb-2 float-right" (click)="openModal(frmModal, null)">
    <i class="fa fa-plus" aria-hidden="true"></i>
    Agregar
  </button>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Opciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of categories; let i = index">
      <td style="width: 10%">{{ i+1 }}</td>
      <td style="width: 80%">{{item.name}}</td>
      <td style="width: 10%">
        <button type="button" class="btn btn-primary btn-sm mr-1" (click)="openModal(frmModal, item)">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-danger btn-sm" (click)="openModal(confModal, item)">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>

</main>

<ng-template #frmModal>
  <form name="form" (submit)="f.form.valid && submit()" #f="ngForm" novalidate>
    <div class="modal-header">
      <h5 class="modal-title">{{ category.id ? 'Editar categoría' : 'Nueva categoría' }}</h5>
      <button type="button" class="close" (click)="modal.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <div class="form-group">
        <label for="name">Nombre</label>
        <input id="name" name="name" type="text" class="form-control" placeholder="Nombre de la categoría"
               [(ngModel)]="category.name" #name="ngModel"
               [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required>
        <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
          <div *ngIf="name?.errors.required">Nombre es requerido</div>
        </div>
      </div>
      <div class="form-group">
        <label for="image">Imagen</label>
        <input id="image" name="image" type="text" class="form-control" placeholder="Imagen de la categoría"
               [(ngModel)]="category.image" #image="ngModel"
               [ngClass]="{ 'is-invalid': f.submitted && image.invalid }" required>
        <div *ngIf="f.submitted && image.invalid" class="invalid-feedback">
          <div *ngIf="image?.errors.required">La imagen es requerida</div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.hide()">Cerrar</button>
      <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
  </form>
</ng-template>

<ng-template #confModal>
  <div class="modal-body text-center">
    <p>Esta seguro de eliminar la categoria {{ category.name }}</p>
    <button type="button" class="btn btn-outline-danger mr-2" (click)="delete()">Eliminar</button>
    <button type="button" class="btn btn-primary" (click)="modal.hide()">Cancelar</button>
  </div>
</ng-template>
