<footer class="footer">
  <nav class="navbar">
    <div class="col-4 item-bar-menu">
      <a class="nav-link" style="text-align: center" routerLink="/">
        <i class="fa fa-shopping-basket" aria-hidden="true" style="font-size: 1.2em;"></i>
        <br>
        <span style="font-size: .9em;">Delivery</span>
      </a>
    </div>
    <div class="col-4 item-bar-menu">
      <a class="nav-link" style="text-align: center" routerLink="/courier">
        <i class="fa fa-paper-plane" aria-hidden="true" style="font-size: 1.2em;"></i>
        <br>
        <span style="font-size: .9em;">Courier</span>
      </a>
    </div>
    <div class="col-4 item-bar-menu">
      <a class="nav-link" style="text-align: center" routerLink="/history">
        <i class="fa fa-bars" aria-hidden="true" style="font-size: 1.2em;"></i>
        <br>
        <span style="font-size: .9em;">Historial</span>
      </a>
    </div>
  </nav>
</footer>

